@{
    string login = User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="header-menu-left">
                <ul class="nav nav-pills">
                    <li class="navbar-btn">
                        @Html.ActionLink("Главная", "Index", "Home")
                    </li>
                </ul>
            </div>
            <div class="header-menu-right">
                <ul class="nav nav-pills">
                    @if (login == "")
                    {
                        <li class="navbar-btn">
                            @Html.ActionLink("Регистрация", "Register", "Account")
                        </li>
                    }


                    @if (login != "")
                    {
                        <li id="hello">Здравствуйте: </li>
                        <li class="loginMenu">@login</li>
                        <li>@Html.Action("Summary", "Cart")</li>
                        <li class="navbar-btn">@Html.ActionLink("Выйти", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li class="navbar-btn">@Html.ActionLink("Войти на сайт", "Login", "Account")</li>
                    }

                </ul>
            </div>
        </nav>
    </div>
    <div class="body-size row">
        @*<h3>Жанры</h3>*@
        <div class="col-md-2 col-sm-2 col-xs-4">
            <ul class="list-genre">
                <li class=".list-genre-row">
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li class=".list-genre-row">
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li class=".list-genre-row">
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-8">
            <div class="body-content">
                @RenderBody()
            </div>
        </div>

        <footer class="footer navbar-fixed-bottom panel-footer">
            <div>
                <p>Made by Scorpion Soft.</p>
            </div>
        </footer>@*@RenderSection("Footer", false)</footer>*@
    </div>
</body>
</html>
