@model PagedList.IPagedList<BookStore2.Models.Book>
@using PagedList.Mvc;
@using BookStore2.Models;

@{
    bool isAdmin = Request.Cookies["IsAdmin"]?.Value == "True" ? true : false;
    bool IsAuth = User.Identity.IsAuthenticated;
    Cart cart = (Cart)Session["Cart"];
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>

        <table class="table">
            <tr class="header">
                <td><p>Обложка</p></td>
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
                <td><p>Кол-во</p></td>
                <td></td>
                <td></td>
                <td>
                    @if (isAdmin)
                    {
                        <p><a href="/Book/Create" class="btn btn-primary">Добавить книгу</a></p>

                    }
                </td>
            </tr>
            @foreach (var b in Model)
            {
                int cartQuantity = 0;
                if (cart != null)
                {
                    CartLine cartLine = cart.Lines.FirstOrDefault(x => x.Book.Id == b.Id);
                    if(cartLine != null)
                    {
                        cartQuantity = cartLine.Quantity;
                    }
                }
                int quantityBook = b.QuantityInStorage - cartQuantity;
                <tr>
                    <td><p><img src='@Url.Content("~/"+b.ImagePath)' alt="@b.Name" /> </p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@(quantityBook)</p></td>
                    <td><p><a href="/Book/ChoiceBook/@b.Id" class="btn btn-success">Описание</a></p></td>
                    @if (quantityBook > 0 && IsAuth)
                    {
                        using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("Id", b.Id)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <td>
                                <input type="submit" class="btn btn-success" value="В корзину" />
                            </td>
                        }
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (isAdmin)
                    {
                        <td>
                            <p class="btn-group" role="group" aria-label="...">
                                <a href="/Book/EditBook/@b.Id" class="btn btn-primary">Редактировать</a>
                                <a href="/Book/Delete/@b.Id" class="btn btn-danger">Удалить</a>
                            </p>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <br />

    @*<div class="footer">
            @section Footer {
                <p>Made by Scorpion Soft.</p>
            }
        </div>*@


</body>
</html>